<html ng-app="LoadShareWebApp">
<head>
    
    
   
    <title>LoadShareWebApp</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cyborg/bootstrap.min.css">*@
    
    @*<link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">*@
    
    <base href="/" />
</head>
<body>
    
    @*<link href="~/ngApp/views/StyleSheet.css" rel="stylesheet" />*@
    
    @*<div id="banner">
        <a href="index.html"><img src="~/images/LoadShare (2).png" /></a>
    </div>

    <div id="wrapper"/>*@
   


        <div>
            
            <a href="/">Home</a>|
            <a href="/trucks">Trucks</a>|
            <a href="/loads">Loads</a>

        <hr />
        <ui-view></ui-view>

        </div>
    
    
       


        <!-- Library Files -->
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/bower_components/angular-touch/angular-touch.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower_components/bootstrap/jquery"></script>

        <!-- App Files-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src=""></script>
    <script src="~/lib/angular/angular.js"></script>

    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>

   
    <script src="~/lib/angular-material/angular-material.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="/ngapp/app.js"></script>
        <script src="/ngapp/controllers/controllers.js"></script>
        <script src="/ngapp/services/services.js"></script>
        @*<script src="~/ngApp/controllers/TrucksController.js"></script>
        <script src="~/ngApp/controllers/LoadsController.js"></script>*@
        
        <script src="/bower_components/material-design-lite/material.min.js"></script>
</body>
</html>
